{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":56.5625,"scrollleft":0,"selection":{"start":{"row":16,"column":13},"end":{"row":17,"column":12},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":3,"state":"start","mode":"ace/mode/text"}},"timestamp":1564937577433,"hash":"fa02debe21c44a12062c9c4cbd2443575b5be1cc"}