/*---------Navbar----------*/
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
}
.navbar-brand img {
    height: 50px;
}
   
 /* icon prefix focus color */
.input-field .prefix.active {
     color: red;
   }
   
.btn {
    background-color: #55a626;
    margin: 20px;
}

body{
    padding:25px;
}

p.recipe {
    float: right;
    background: mediumseagreen;
    padding: 15px;
    margin-right: 20px;
}

footer {
    margin-top: 30px;
}

img {
    height: 170px;
}

img .edit {
    height: 80px;
}
.apple img {
    height: 250px;
}


.caterpillar img {
    height: 128px;
}

.card {
    margin: 20px;
    padding: 20px;
    position: relative;
    background-color: #beefaf;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}
card-body {
    font-size: large;
    text-align: justify;
    text-align: right;
    padding: 20px;
    margin: 20px;
    font-style: inherit;
}

p.recipe {
    float: right;
}

a {
    color: inherit;
}

.navbar img {
    height: 80px;
}

.form-control {
    color: #0c0c0c;
    background-color: #fff;
    background-image: none;
    border: 2px solid #0b0b0b;
} 
label {
   color: #0c0c0c;
    font-family: 'Emilys Candy', cursive;
    /* font-family: Emily; */
    font-size: 15px;
}

button{
    background-color: #4bf524;
    font-family: 'Emily';
}
.delete {
    color: #db1f1f;
}


/*-----Media Queries--------*/

@media (min-width: 375px)
{
.container-fluid {
    padding-right: 15px;
    padding-left: 0;
}
.row {
   
    margin-bottom: 0px; 
}

.age img {
    height: 170px;
}
apple img {
    height: 180px;
}
.caterpillar img {
    height: 80px;
}
img.edit {
    height: 50px;
}
}
