body {
    background-color: black;
}
img {
    height: 200px;
    vertical-align: super;
}
.main {
    padding: 50px;
    margin: 20px;
}
/*---------Navbar----------*/
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
}
.navbar-brand img {
    height: 50px;
}
   
.container-fluid{
    background-color: blue;
}


@media(max-width: 768px) {





}
