/*---------Navbar----------*/
.navbar {
    position: relative;
    min-height: 50px;
    margin: 20px;
    border: none;
    background-color: transparent;
}
.navbar-brand img {
    height: 50px;
}
   
 /* icon prefix focus color */
.input-field .prefix.active {
     color: red;
   }
   
.btn {
    background-color: #55a626;
    margin: 20px;
}

btn:hover, .btn-large:hover {
    background-color: #92f57c;
}

.img.icon {
    background: none;
    border: none;
} 

p.recipe {
    float: right;
    background: mediumseagreen;
    padding: 15px;
    margin-right: 20px;
}

input[type="text"] {
    width: 80%; 
} 

footer {
    margin-top: 30px;
}

/*--------images---------------------*/


img {
    height: 170px;
}

img .edit {
    height: 80px;
}
.apple img {
    height: 250px;
}


.caterpillar img {
    height: 128px;
}

.card {
    margin: 20px;
    padding: 20px;
    position: relative;
    background-color: #beefaf;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}
card-body {
    font-size: large;
    text-align: justify;
    text-align: right;
    padding: 20px;
    margin: 20px;
    font-style: inherit;
}

p.recipe {
    float: right;
}

a {
    color: inherit;
}

.navbar img {
    height: 80px;
}

.form-control {
    color: #0c0c0c;
    background-color: #fff;
    background-image: none;

} 
label {
   color: #0c0c0c;
    font-family: 'Emilys Candy', cursive;
    /* font-family: Emily; */
    font-size: 15px;
}

button{
    background-color: #4bf524;
    font-family: 'Emily';
}
.delete {
    color: #db1f1f;
}


/*-----Media Queries--------*/

@media (min-width: 375px)
{

.row {
   
    margin-bottom: 0px; 
    margin-left: 0px;
}


.age img {
    height: 170px;
}
apple img {
    height: 180px;
}
.caterpillar img {
    height: 80px;
}
img.edit {
    height: 50px;
}
.modal {
    background-color: rgb(0,0,0,0);
}

.modal .modal-content {
    padding: 50px;

}






}

