
/*---------Navbar----------*/
.navbar-brand{
    padding: 0px;
}
.navbar-brand img {
    height: 50px;
}
   
.body{
    padding:20px

}

span{
    font-size:16px;
    font-weight:bold;
}


/*-------media-queries---------*/
    
  
@media(max-width: 768px) {





}
