{% extends 'base.html'%}{% block content %}

<div class=container> 
 <div class="row">
    <div class="cancel">
     <button onclick="goBack()"class="btn">Cancel</button>
     </div> 
  </div>
    
  <h3>Add Recipe</h3>
  
<div class="form">
<form action="{{ url_for('insert_recipe')}}" name="form" method="POST" class="col s12">
  <div class="row">
    <label class="recipe_name">Recipe Name</label>
      <input type="text" class="form-control" id="recipe_name" name="recipe_name" placeholder="eg. Sweet Potato Mash">
     </div>
 
      <div class="row">
      <label for="category_age">Select which age group this is suitable for</label>
    
        <select id="category_age" name="category_age"required>
          <option value=""disabled>choose category</option>
    
               {% for cat in categories %}
          <option value="{{cat.category_age}}"select>{{cat.category_age}}</option>
               {% endfor %}
        </select>
      </div>
 
 <div class="row">
  <div class = "allergens">
     <label for="allergens" name="allergen">Please select which allergens are or may be in the recipe</label>
     
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="nut" name="allergen" value="nut">
        <label class="form-check-label" for="nut">Nut</label>
      </div>
    
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="meat" name="allergn" value="meat">
        <label class="form-check-label" for="meat">Meat</label>
     </div>
  
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="dairy" name="allergen" value="dairy">
        <label class="form-check-label" for="dairy">Dairy</label>
     </div>
    
     <div class="form-check form-check-inline">
       <input class="form-check-input" type="checkbox" id="gluten" name="allergen" value="gluten">
        <label class="form-check-label" for="gluten">Gluten</label>
     </div>
     
     <div class="form-check form-check-inline"> 
        <input class="form-check-input" type="checkbox" id="seafood" name="allergen" value="seafood">
        <label class="form-check-label" for="seafood">Seafood</label>
      </div>
      
     <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="soy" name="allergen" value="soy">
        <label class="form-check-label" for="soy">Soy</label>
     </div>
   </div>
 </div>

<div class="row">
    <label for="cooking_time">Cooking Time</label>
    
      <input type="number" name="cooking_time" min="0" max="100" step="1" value="1">
      <label>(in minutes)</label>
  </div>
  
 <div class="row">
    <label for="portion_sizes">Serving Size</label>
    <input type="number" name="portion_size" min="0" max="100" step="1" value="1">
  </div>
  
  
 <div class="row">
    <div class= "wrapper">  
       <div class="container1">
        <label for="ingredients">Ingredients</label>
        <button class="btn add_ingredients">Add Ingredients &nbsp; 
          <span>+ </span>
        </button>
        <div><input type="text" name="ingredient" placeholder="Sweet Potato">
          <a href="#" class="delete">Delete</a></div>
      </div> 
    </div>
  </div> 

 
 <div class="recipe_description">
    <label for="recipe_description">Description</label>
      <div class="row">
      <textarea class="form-control" id="recipe_description" name="recipe_description" rows="5" placeholder="Description of the recipe or any additional notes you would like to add here"></textarea>
       </div>  
    </div>

 <div class="steps">
    <label for="add_steps">Cooking instructions</label>
<!-------https://stackoverflow.com/questions/14853779/adding-input-elements-dynamically-to-form ----->
      <div class= "wrapper">     
        <div class="container2">
         <label for="Steps">Steps</label>
          <button class="btn add_steps">Add Steps &nbsp; 
            <span>+ </span>
          </button>
            <div><input type="text" name="step" placeholder="eg. wash vegetables">
            <a href="#" class="delete">Delete</a></div>
            </div>
        </div>
   
  

 
   
<!--------https://pythonise.com/feed/flask/flask-uploading-files---

   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" enctype="multipart/form-data" class="custom-file-input" id="image" name="image">
    <label class="btn" for="image">Choose file</label>
  </div>
------------->

   <!-- Modal Trigger -->
  <button data-target="share_recipe" class="btn modal-trigger">Share Recipe</button>


  <!-- Modal Structure -->
  <div id="share_recipe" class="modal">
    <div class="modal-content">
      <h4>Thank you for sharing!</h4>
      <p><img src="/static/image/submit.png"></p>
    </div>
    <div class="modal-footer">
     <button><a href="{{url_for('home')}}" class="modal-action modal-close waves-effect waves-green btn-flat">Return to recipes</a></button> 
    </div>
  </div>
</div>
</form>

 {% endblock %}