{% extends 'base.html'%}{% block content %}
 

  
<div class="form row">
<form action="{{ url_for('insert_recipe')}}" name="form" method="POST" class="col s12">
      <label class="recipe_name">Recipe Name</label>
      <input type="text" class="form-control" id="recipe_name" name="recipe_name" placeholder="eg. Sweet Potato Mash">
    </div>

<div class="row">
      <label for="category_age">Select which age group this is suitable for</label>
        <select class="select" id="category" name="category_age"required>
          <option value=""disabled>choose category</option>
          
               {% for cat in categories %}
          <option value="{{cat.category_age}}">{{cat.category_age}}</option>
               {% endfor %}
        </select>
      </div>
  </div>
</div>  

  <div class = "allergens">
     <label for="allergens" name="allergen">Please select which allergens are or may be in the recipe</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="nut" name="allergen" value="nut">
        <label class="form-check-label" for="nut">Nut</label>

    
        <input class="form-check-input" type="checkbox" id="meat" name="allergn" value="meat">
        <label class="form-check-label" for="meat">Meat</label>

  
        <input class="form-check-input" type="checkbox" id="dairy" name="allergen" value="dairy">
        <label class="form-check-label" for="dairy">Dairy</label>
  
        <input class="form-check-input" type="checkbox" id="gluten" name="allergen" value="gluten">
        <label class="form-check-label" for="gluten">Gluten</label>
    
        <input class="form-check-input" type="checkbox" id="seafood" name="allergen" value="seafood">
        <label class="form-check-label" for="seafood">Seafood</label>
   
        <input class="form-check-input" type="checkbox" id="soy" name="allergen" value="soy">
        <label class="form-check-label" for="soy">Soy</label>
    </div>
</div>

<div class="row">
    <label for="cooking_time">Cooking Time</label>
    
      <input type="number" name="cooking_time" min="0" max="100" step="1" value="1">
      <label>(in minutes)</label>
  </div>
  
 <div class="row">
    <label for="portion_sizes">Serving Size</label>
    <input type="number" name="portion_size" min="0" max="100" step="1" value="1">
  </div>
  
  
<div class="row">
    <div class= "wrapper">  
       <div class="container1">
        <label for="ingredients">Ingredients</label>
        <button class="add_ingredients">Add Ingredients &nbsp; 
          <span>+ </span>
        </button>
        <div><input type="text" name="ingredient" placeholder="Sweet Potato">
          <a href="#" class="delete">Delete</a></div>
      </div> 
    </div>
  </div> 
</div>
 
 <div class="recipe_description">
    <label for="recipe_description">Description</label>
      <div class="row">
      <textarea class="form-control" id="recipe_description" name="recipe_description" rows="5" placeholder="Description of the recipe or any additional notes you would like to add here"></textarea>
       </div>  
    </div>

 <div class="steps">
    <label for="add_steps">Cooking instructions</label>
<!-------https://stackoverflow.com/questions/14853779/adding-input-elements-dynamically-to-form ----->
      <div class= "wrapper">     
        <div class="container2">
         <label for="Steps">Steps</label>
          <button class="add_steps">Add Steps &nbsp; 
            <span>+ </span>
          </button>
            <div><input type="text" name="step" placeholder="eg. wash vegetables">
            <a href="#" class="delete">Delete</a></div>
            </div>
        </div>
     </div>
 </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" enctype="multipart/form-data" class="custom-file-input" id="image" name="image">
    <label class="custom-file-label" for="image">Choose file</label>
  </div>
</div>


<!-- Button trigger modal -->
 <div class="row">
      <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="material-icons add_box">Share</i>
       </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Thank you for sharing! Return to home page?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No changed my mind</button>
        <button type="submit" class="btn btn-primary" name="action" value="submit">Yes, Please Share</button>
      </div>
    </div>
  </div>
</div>
 
  </div>
</div>
</div>
</form>

 {% endblock %}