{% extends 'base.html'%}{% block content %}

<!------cancel--------->     
  <div class="row">
    <div class="cancel">
     <button onclick="goBack()">Cancel</button>
     </div> 
  </div>
    
  <h3>Edit Recipe</h3>
  
  <div class="form ">   
    <form action="{{url_for('update_recipe',recipe_id=recipe._id)}}" name="form" method="POST" enctype="multipart/form-data" class="col s12">
      <img class="card-img-top" src="{{recipe.image | default('/static/image/babyappytite.png')}}" alt="recipe image"></img>
      <div class="row">
       <label class="recipe_name">Recipe Name</label>
       <input type="text" id="recipe_name" name="recipe_name" value="{{recipe.recipe_name}}">
      </div>

<!------removed row to include category age in input= text and class= form-control which allowed the value to be sent-------->
      <div class="row">
        <label for="category_age">Select which age group this is suitable for</label>
        <select id="category_age" name="category_age"required>
        <option value=""disabled>choose category</option>
             
 
<!------referred to Code-Institute-Solutions/TaskManager/blob/master/04-EditingATask/05-update_the_task_in_the_database/templates/edittask.html---->
 
              {% for cat in categories %}
               
      {% if cat.category_age == recipe.category_age %}
         <option value="{{cat.category_age}}"selected>{{cat.category_age}}</option>
            {% else %}
            
        <option value="{{cat.category_age}}">{{cat.category_age}}</option>
            {% endif %}
            {% endfor %}
            
        </select>
    </div>
    <div class="row">
      <div class = "allergens">
      <label class="allergens">Please select which allergens are or may be in the recipe</label>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="nut" name="allergen" value="nut"{% if 'nut' in recipe.allergens %}checked{% endif %} >
        <label class="form-check-label" for="nut">Nut</label>
      </div>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="meat" name="allergen" value="meat"{% if 'meat' in recipe.allergens %}checked{% endif %}>
        <label class="form-check-label" for="meat">Meat</label>
      </div>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="dairy" name="allergen" value="dairy"{% if 'dairy' in recipe.allergens %}checked{% endif %}>
        <label class="form-check-label" for="dairy">Dairy</label>
      </div>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="seafood" name="allergen" value="seafood"{% if 'seafood' in recipe.allergens %}checked{% endif %}>
        <label class="form-check-label" for="seafood">Seafood</label>
      </div> 
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="soy" name="allergen" value="soy"{% if 'soy' in recipe.allergens %}checked{% endif %}>
        <label class="form-check-label" for="soy">Soy</label>
      </div>
    </div>
   </div>

  
    <div class="row">
      <label for="cooking_time">Cooking Time</label>
    
      <input type="number" name="cooking_time" min="0" max="200" step="1" value="{{recipe.cooking_time}}" >
     (in minutes)
    </div>


   <div class="row">
    <label for="portion_size">Serving Size</label>
    <input type="number" name="portion_size" min="0" max="200" step="1" value="{{recipe.portion_size}}">
   </div>
 
   
   <div class="row">
    <div class= "wrapper1">  
       <div class="container1">
        <label for="ingredients">Ingredients</label>
        <button class="ingredient">Add Ingredients &nbsp; 
          <span>+ </span>
        </button>
        
         {% for ingredient in recipe.ingredients %}
        <div><input type="text" class="materialize-textarea"name="ingredient" value="{{ingredient}}">
          <a href="#" class="delete">Delete</a></div>
          {% endfor %}
      </div> 
    </div>
   </div> 

    <div class="recipe_description">
     <label for="recipe_description">Description</label>
       <div class="row">
         <textarea class="form-control" id="recipe_description" name="recipe_description" rows="5" value="{{recipe.recipe_description}}">{{recipe.recipe_description}}</textarea>
        </div>
      </div>

 <div class="steps">
    <label for="add_steps">Cooking instructions</label>
    
<!-------https://stackoverflow.com/questions/14853779/adding-input-elements-dynamically-to-form ----->

      <div class= "wrapper2">     
        <div class="container2">
         <label for="steps">Steps</label>
          <button class="step">Add Steps &nbsp; 
            <span>+ </span>
          </button>
          <div class="row">
                {% for step in recipe.steps %}
            <div><input type="text" class="materialize-textarea"name="step"value="{{step}}">
            <a href="#" class="delete">Delete</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
     </div>
  </div>
 
<!-------future image input area
   <div class="col-xs-4 col-sm-4 col-md-12"> 
    <div class="input-group mb-3">
     <div class="input-group-prepend">
      <div class="custom-file">
       <input type="file" class="custom-file" id="image">
       <label class="custom-file" for="image">Select image...</label>
      </div>
     </div>
    </div>
---------->

  <!-- Modal Trigger Materialize-->
<button data-target="update_recipe" class="btn modal-trigger">Update</button>

  <!-- Modal Structure -->
  <div id="update_recipe" class="modal">
    <div class="modal-content">
      <h4>Recipe updated!</h4>
      <p>Changed your mind? Click outside this notification box to return to edit form</p>
    </div>
    <div class="modal-footer">
     <button><a class="modal-action modal-close waves-effect waves-green btn-flat">Return to recipes</a></button> 
    </div>
  </div>
          

<!------ image from https://www.seekclipart.com/clipart/mimJ_garbage-can-pictures-garbage-bin-clip-art-png/----->     
 <!-- Modal Trigger -->
  <a class="modal-trigger" data-target="delete_recipe"><img src="/static/image/bin.png"></a>

  <!-- Modal Structure -->
  <div id="delete_recipe" class="modal">
    <div class="modal-content">
      <h4>Are you sure you wish to delete this recipe?!</h4>
      <p>Changed your mind? Click outside this notification box to return to edit form</p>
    </div>
    <div class="modal-footer">
     <button><a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="modal-action modal-close waves-effect waves-green btn-flat">Return to recipes</a></button> 
    </div>
  </div>

     </div>
</form>

 <script>
    function goBack() {
    window.history.back();
    }
    </script>
 

 {% endblock %}
 


