{% extends 'base.html'%}{% block content %}

<!------cancel--------->     
  <div class="row">
    <div class="cancel">
     <button onclick="goBack()">Cancel</button>
     </div> 
  </div>
    
  <h3>Edit Recipe</h3>
  
  <div class="form group ">   
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" name="form" method="POST" enctype="multipart/form-data" class="col s12">
      <div class="row">
       <label class="recipe_name">Recipe Name</label>
       <input type="materialize-textarea" class="form-control" id="recipe_name" name="recipe_name" value="{{recipe.recipe_name}}">
      </div>

<!------removed row to include category age in input= text and class= form-control which allowed the value to be sent-------->
      <div class="row">
        <label for="category_age">Select which age group this is suitable for</label>
        <select id="category_age" name="category_age"required>
        <option value=""disabled>choose category</option>
             
 
<!------referred to Code-Institute-Solutions/TaskManager/blob/master/04-EditingATask/05-update_the_task_in_the_database/templates/edittask.html---->
 
              {% for cat in categories %}
               
      {% if cat.category_age == recipe.category_age %}
         <option value="{{cat.category_age}}" selected>{{cat.category_age}}</option>
            {% else %}
            
        <option value="{{cat.category_age}}">{{cat.category_age}}</option>
            {% endif %}
            {% endfor %}
            
        </select>
    </div>
    <div class="row">
      <div class = "allergens">
      <label class="allergens">Please select which allergens are or may be in the recipe</label>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="nut" name="allergen" value="nut"{% if 'nut' in recipe.allergens %}checked{% endif %} >
        <label class="form-check-label" for="nut">Nut</label>
      </div>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="meat" name="allergen" value="meat"{% if 'meat' in recipe.allergens %}checked{% endif %}>
        <label class="form-check-label" for="meat">Meat</label>
      </div>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="dairy" name="allergen" value="dairy"{% if 'dairy' in recipe.allergens %}checked{% endif %}>
        <label class="form-check-label" for="dairy">Dairy</label>
      </div>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="seafood" name="allergen " value="seafood"{% if 'seafood' in recipe.allergens %}checked{% endif %}>
        <label class="form-check-label" for="seafood">Seafood</label>
      </div> 
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="soy" name="allergen" value="soy"{% if 'soy' in recipe.allergens %}checked{% endif %}>
        <label class="form-check-label" for="soy">Soy</label>
      </div>
    </div>
   </div>

  
    <div class="row">
      <label for="cooking_time">Cooking Time</label>
    
      <input type="number" name="cooking_time" min="0" max="100" step="1" value="{{recipe.cooking_time}}" >
     (in minutes)
    </div>


   <div class="row">
    <label for="portion_size">Serving Size</label>
    <input type="number" name="portion_size" min="0" max="100" step="1" value="{{recipe.portion_size}}">
   </div>
 
   
   <div class="row">
    <div class= "wrapper">  
       <div class="container1">
        <label for="ingredients">Ingredients</label>
        <button class="add_ingredients">Add Ingredients &nbsp; 
          <span>+ </span>
        </button>
        
         {% for ingredient in recipe.ingredients %}
        <div><input type="text" class="materialize-textarea"name="ingredient" value="{{ingredient}}">
          <a href="#" class="delete">Delete</a></div>
          {% endfor %}
      </div> 
    </div>
   </div> 

    <div class="recipe_description">
     <label for="recipe_description">Description</label>
       <div class="row">
         <textarea class="form-control" id="recipe_description" name="recipe_description" rows="5" value="{{recipe.recipe_description}}">{{recipe.recipe_description}}</textarea>
        </div>
      </div>

    
<!---referred to ----https://stackoverflow.com/questions/14853779/adding-input-elements-dynamically-to-form ----->


 
 <div class="steps">
    <label for="add_steps">Cooking instructions</label>
<!-------https://stackoverflow.com/questions/14853779/adding-input-elements-dynamically-to-form ----->
      <div class= "wrapper">     
        <div class="container2">
         <label for="Steps">Steps</label>
          <button class="add_steps">Add Steps &nbsp; 
            <span>+ </span>
          </button>
          <div class="row">
                {% for step in recipe.steps %}
            <div><input type="text" class="materialize-textarea"name="step"value="{{step}}">
            <a href="#" class="delete">Delete</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
     </div>
  </div>
 
<div class="container-fluid">
   <div class="col-xs-4 col-sm-4 col-md-12"> 
    <div class="input-group mb-3">
     <div class="input-group-prepend">
      <div class="custom-file">
       <input type="file" class="custom-file" id="image">
       <label class="custom-file" for="image">Select image...</label>
      </div>
     </div>
    </div>
  </div>


  <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12 col-sm-4 col-md-6"> 
   
<!-------bootstrap---------->
<!-- Button trigger modal -->
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update">
     Update Recipe
    </button>
   </div>
  </div>
</div>
 
<!-- Modal -->
   <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Recipe?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        Are you sure you would like to update this?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No changed my mind</button>
        <button type="submit" class="btn btn-primary" name="action" value="submit">Yes, Please Save changes</button>
        </div>
      </div>
     </div>
    </div>



    
<!------ image from https://www.seekclipart.com/clipart/mimJ_garbage-can-pictures-garbage-bin-clip-art-png/----->     

<!-------bootstrap---------->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12  col-sm-4 col-md-6"> 
      <button type="button" class="img icon" data-toggle="modal" data-target="#delete">
         <img src="/static/image/bin.png" alt="delete a recipe">
       </button>
     </div>
   </div>
  </div>
<!-- Modal -->
   <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        Are you sure you would like to delete this?
        </div>
        <div class="modal-footer">
    </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No changed my mind</button>
        <button type="button" class="btn btn-primary" name="action" value="submit"><a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Yes, Delete</a></button>
        </div>
      </div>
     </div>
</form>



 {% endblock %}
 


