<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>"Baby Appy-tite | Recipes for 6 months +"</title>
    
    <link href="https://fonts.googleapis.com/css?family=Emilys+Candy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

<!------homepage--------->


 
     
  <div class="row">
       {% for cat in categories %} 
    <div class="col s6 m6 l2 offset-l1">
        <a href="/get_recipes/{{cat.category_age}}"><img class="age" src="{{cat.image}}"></a> 
    </div>
     {% endfor %}
</div>
         
    

   <div class="logo">
      <div class="row">
         <img class="apple_logo" src="/static/image/logo.png" alt="apple logo">
      </div>
  </div>
   
   
 
    <div class="share">
      <div class="row">
        <a href="/addrecipe"><img class="caterpillar_img" src="/static/image/caterpillar_img.png" alt="Share a recipe"></a>
	   </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
</body>
</html>