{% extends 'base.html' %}{% block content %}


<!------homepage--------->

 <div class="col s12">
     
      {% for cat in categories %} 
 
       <a href="/get_recipes/{{cat.category_age}}"><img src="{{cat.image}}"></a>
       
          {% endfor %}
       
  </div>

   <div class="row">
      <div class="col s6 offset-s2">
         <img class="apple img" src="/static/image/babyappytite.png">
      </div>
  </div>
   
   
 
    <div class="row">
      <div class="col s12 offset-m6">
        <a href="/addrecipe"><img class="caterpillar img" src="https://res.cloudinary.com/blueag8/image/upload/v1567665021/Babyappytite/caterpillar_img_r43s7x.png" alt="Share a recipe"></a>
	   </div>
    </div>
  </div>
</div>
     
 {% endblock %}
 