{% extends 'base.html' %}{% block content %}

<!-------list all recipes by category using materialize cards--------->

{% for recipe in recipes %}

<div class="card-deck">
  
    <div class="card">
    <div class="card-body">
     <a href= "{{url_for('recipe',recipe_id=recipe._id)}}">
      <img class="card-img-top" src="{{recipe.image | default('/static/image/babyappytite.png')}}" alt="recipe image"></img>
  
      <h5 class="card-title">{{recipe.recipe_name}}</h5>
      <p class="card-text">{{recipe.category_age}}</p>
      <p class="card-text">{{recipe.cooking_time}} Minutes</p>
      <p class ="card-img-small"><img src="/static/image/star.png" alt="stars">{{recipe.stars}}</p>
      <p class="recipe"><a href="{{url_for('recipe', recipe_id=recipe._id)}}" img src="">Got to Recipe</a></p>
      <p class="card-text"><a href="{{url_for('editrecipe', recipe_id=recipe._id)}}"><image class="edit" img src="/static/image/edit.png" alt="edit a recipe"></a></p>
    </div>
  </div>
  
   
   {% endfor %}

{% endblock %}


