{% extends 'base.html' %}{% block content %}


<div class="recipe">
   
  {% for recipe in recipes %}
  

   <img class="card-img-top" src="{{recipe.image | default('/static/image/babyappytite.png')}}" alt="recipe image"></img>
  
  
     
    <div class="card-body">
      <h5 class="card-title"><a href="{{url_for('recipe', recipe_id=recipe._id)}}">{{recipe.recipe_name}}</a></h5>
      
      <button><a href="{{url_for('stars',recipe_id=recipe._id)}}"><img src="https://res.cloudinary.com/blueag8/image/upload/v1567665022/Babyappytite/star_img_cjiku5.png" alt="like a recipe">{{recipe.stars}}</a></button>
       
        <p class="card-text">{{recipe.category_age}}</p>
         
          <p class="card-text">{{recipe.cooking_time}} Minutes</p>
         
          <p class="card-text">Serves {{recipe.portion_size}}</p>
      <p class="card-text">
                    <strong>Ingredients: </strong>
                    
                        {% for ingredient in recipe.ingredients %}
                      
                         <ol>{{ingredient}}</ol>
                         
                        {% endfor %}                            
    </p>
    <p class="card-text">Allergens:
                        {% for allergen in recipe.allergens %}
                      
                         <li>{{allergen}}</li>
                         
                         {% else %}
                        
                         <li><em>No known allergens</em></li>
                         
                        {% endfor %}                                
  
    </p>
     
    </div>
       <div>
       <p class="card-text">{{recipe.description}}</p>
       </div>
       <p class="card-text">
           <strong>Instructions:</strong>
       {% for step in recipe.steps %}
       
                <ol >{{step}}</ol>
            {% endfor %}
        </p>
  </div>
 </div>
</div>
   </div>
<!-------image from https://www.seekclipart.com/clipart/hhomm_view-and-edit-icon-clipart/ ------->

    <div class="container">
        <div class="row">
             <div class="col-xs-offset-4 col-sm-offset-6 col-md-12 col-md-offset-6">
                <a href="{{url_for('editrecipe', recipe_id=recipe._id)}}"><img class="edit" src="/static/image/edit.png" alt="edit a recipe"></a>
			  </div>
            </div>
          <button onclick="goBack()">Return to other recipes</button>
        </div>
    </div>

<!-------------HTML DOM SCRIPT from https://www.w3schools.com/jsref/met_his_back.asp--------->

 <script>
    function goBack() {
    window.history.back();
    }
    </script>
 

     
       {% endfor%}

   {% endblock %}