{% extends 'base.html'%}{% block content %}


<div class="recipes">
   
  {% for recipe in recipes %}
     {{recipes.recipe_name}}
     {{recipes.category_age}}
     {{recipes.cooking_time}}
     {{recipes.Portion_sizes}}
     {{recipes.ingredient_1}}
     {{recipes.ingredient_2}}
     {{recipes.ingredient_3}}
     {{recipes.ingredient_4}}
     {{recipes.ingredient_5}}
     {{recipes.ingredient_6}}
     {{recipes.ingredient_7}}
     {{recipes.ingredient_8}}
     {{recipes.ingredient_9}}
     {{recipes.ingredient_10}}
     {{recipes.allergen__1}}
     {{recipes.allergen__2}}
     {{recipes.allergen_3}}
     {{recipes.allergen_4}}
     {{recipes.allergen_5}}
     {{recipes.allergen_6}}
     {{recipes.allergen_7}}
     {{recipes.allergen_8}}
     {{recipes.description}}
     {{recipes.method_desc}}

   </div>
   {% endfor %}
   {% endblock %}
         

   







