{% extends 'base.html' %}{% block content %}


<div class="recipe">
   
  {% for recipe in recipes %}
  
    <img class="card-img-top" src="/static/img/{{}}" alt="recipe image">
       <div class="form row">
<form action="{{ url_for('update_recipe') }}" name="form" method="POST" class="col s12">
    <div class="form row">
      <label class="recipe_name">{{recipe.recipe_name}}</label>
      <input type="text" class="form-control" id="recipe_name" name="recipe_name" value="{{recipe.recipe_name}}">
    </div>
    <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="category_age" name="category_age"required>
                    {% for category in categories %}
                        <option value="{{category.category_age}}"
                                {% if category.category_age == recipe.category_age %} selected {% endif %}
                            >{{category.category_age}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
</div>  
      <div class="row">
    <label for="allergens" name="allergen">Please select which allergens are or may be in the recipe</label>
       {% if allergen in recipe.allergens %} checked {% endif %}>
         <input class="form-check-input" type="checkbox" id="Nut" value="Nut">
          <label class="form-check-label" for="Nut">Nut</label>
          <input class="form-check-input" type="checkbox" id="Meat" value="Meat">
          <label class="form-check-label" for="Meat">Meat</label>
          <input class="form-check-input" type="checkbox" id="Dairy" value="Dairy">
          <label class="form-check-label" for="Dairy">Dairy</label>
          <input class="form-check-input" type="checkbox" id="Gluten" value="Gluten">
          <label class="form-check-label" for="Gluten">Gluten</label>
          <input class="form-check-input" type="checkbox" id="allergen" value="Seafood">
          <label class="form-check-label" for="Seafood">Seafood</label>
          <input class="form-check-input" type="checkbox" id="Soy" value="Soy">
          <label class="form-check-label" for="Soy">Soy</label>
      </div>
       
    <div class="form row">
      <label for="cooking_time">Cooking Time</label>
           <input type="number" name="cooking_time" min="0" max="100" step="1" value="value="{{recipe.cooking_time}}"" required>
        <label>Minutes</label>
    </div>
    
    
    
  <div class="form row">
    <label for="portion_sizes">Serving Size</label>
    <input type="number" name="portion_size" min="0" max="100" step="1" value="{{recipe.portion_sizes}}" required>
  </div>
  
    <div class="form row">
    <div class= "wrapper">     
       <div class="container1">
          {% for ingredient in recipe.ingredients %}
                      
        <button class="add_ingredients">Add Ingredients &nbsp; 
          <span>+ </span>
        </button>
        <div><input type="text" name="ingredient" value="{{recipe.ingredient}}"required>
      </div> 
    </div>
  </div> 
                       <strong>Ingredients: </strong>
                    
                        {% for ingredient in recipe.ingredients %}
                      
                         <ol>{{ingredient}}</ol>
                         
                        {% endfor %}                          
    
   <div class="form row">
    <label for="recipe_description">Description</label>
      <div class="row">
      <textarea class="form-control" id="recipe_description" name="recipe_description" rows="5" value="{{recipe.recipe_description}}"></textarea>
       </div>  
    </div>

       <p class="card-text">{{recipe.recipe_description}}</p>
       </div>
       <p class="card-text">
           <strong>Instructions:</strong>
       {% for step in recipe.steps %}
       
                <ol >{{step}}</ol>
            {% endfor %}
        </p>
  </div>
 </div>
</div>
   </div>

       {% endfor%}

   {% endblock %}